streamlit
pandas
numpy
qdrant-client
fastembed
sentence-transformers
FlagEmbedding
langchain-huggingface
openpyxl
streamlit-authenticator
langchain-core
fastembed
asyncio
nest_asyncio
googletrans
python-dotenv
langchain_deepseek
